HTTP_PORT="3000"

LOG_LEVEL="info"

AZURE_VSSPS_BASE_URL="https://vssps.dev.azure.com"
AZURE_DEVOPS_BASE_URL="https://dev.azure.com"
AZURE_DEVOPS_ORG="ORG"
AZURE_DEVOPS_PROJECT="PROJECT"
AZURE_DEVOPS_USER="email-address"
AZURE_DEVOPS_PAT="YOUR-PERSONAL-ACCESS-TOKEN"
